:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.leaflet-container {
  height: 500px;
  width: 600px;
}

a {
  font-size: 16px;
  font-weight: 600;
  color: #42b983;
  text-decoration: none;
}
